{% extends "base.twig" %}
{% block title %}Training Mode{% endblock %}
{% block body %}
    <h1>Training Mode</h1>
    <hr>
    <hr>
    <div class="row">
        <div class="col-md-4"><a class="btn btn-secondary" href="{{ path('home') }}">Back</a></div>
    </div>
{% endblock %}