{% extends "base.twig" %}
{% block title %}New Excercise{% endblock %}
{% block body %}
    <h1>New Excercise</h1>
    {{ form(form) }}
    <p><a class="btn btn-secondary" href="{{ path('training_index') }}">back</a></p>
{% endblock %}