{% extends "base.twig" %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <h1>Menu</h1>
    <p><a class="gh-training-mode-button btn btn-primary" href="{{ path('training_mode_index') }}">enter training mode</a>
    <p><a class="gh-training-editor-button btn btn-primary" href="{{ path('training_index') }}">customize trainings</a></p>
{% endblock %}